*{
   
    margin: 20px;
}



   

.card{
      color: rgb(59, 12, 12);
      background-color: rgb(228, 240, 236);
      width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding:20px ;
      height: fit-content;
border: 2px solid rgb(232, 222, 203);

}


.spider{
    width: 150px;
    
}
.btn{
    
    color:black;
    background-color: aliceblue;
    border:1px solid whitesmoke ;
    border-radius: 20px;
   
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
margin-left: 5px;
    
}
.wrapper{
   display: flex;
   justify-content: center;
   
   

}